*{
    font-family: montserrat;
}
body{
    background: f1fbff;
}
.section-padding
{
    padding: 100px 0;
    
}


.carousel-item img{
  width: 100%;
  height: 80vh;            
}
.card-body img{
  min-width: 50%;
  min-height: 200px;

}




.carousel-inner ::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    z-index: 7;

}
.navbar-nav a{
    
    text-transform: uppercase;
    font-weight: 500;

}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;

}
.navbar-light .navbar-nav .navbar-link{
color: #000;
}
.w-100{
    height: 100vh;
}


.service .card-body i{
    font-size: 25px;
}

.team .card-body i{
    font-size: 20px;
}
.portfolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
.team .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
.carg{
    margin-bottom: 30px;
}
.img-area img{
    width: 100%;
}


.hero-image {
  /* Use a linear-gradient to add a dark overlay effect */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("path-to-your-image.jpg");
  /* All other properties from above */
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* responsive css */

@media only screen and(max-width:767px) and(max-width:991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
}}
@media only screen and(max-width:767px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
       bottom: 15px;
    }
    .carousel-caption p{
        width: 100px;

}
    .carousel-caption h5{
        font-size: 15px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100px;
        line-height: 1.6;
        font-size: 12px;
    }
}